In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [3]:
# Load dataset
bolig_data = pd.read_csv("data/boligsalg.csv", sep=";")
turbine_data = pd.read_excel("data/Vindmølledata til 2025-01.xlsx", skiprows=10)

In [4]:
turbine_data.head()

,Møllenummer (GSRN),Dato for oprindelig nettilslutning,Dato for afmeldning,Kapacitet (kW),Rotor-diameter (m),Navhøjde (m),Fabrikat,Typebetegnelse,Kommune,Type af placering,...,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01
0,570715000000032516,1977-12-15,2002-11-30,22.0,0.1,0.1,Ukendt,Ukendt,573 - Varde,LAND,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,570714700000011283,1977-12-22,2002-11-01,30.0,0.1,0.1,Riisager,Ukendt,400 - Bornholm,LAND,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,570714700000006517,1978-01-01,2002-09-02,45.0,15.2,18.0,BONUS,M 102,376 - Guldborgsund,LAND,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,570715000000043840,1978-02-07,2012-09-05,22.0,0.1,0.1,Riisager,22,760 - Ringkøbing-Skjern,LAND,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,570715000000013676,1978-04-10,2002-10-30,18.0,0.1,0.1,Ukendt,Ukendt,740 - Silkeborg,LAND,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0